* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-column: 2 / -1;
    padding-left: 40px;
    height: 200px;
}

.search-bar, .profile-info, .buttons {
    align-self: center;
    
}

.search-bar input {
    margin-left: 20px;
    width: 60%;
    background-color: lightgrey;
    border-radius: 10px;
    height: 20px;
    border-style: none;
}

.buttons {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding-right: 20px;
}

.buttons button {
    background-color: lightblue;
    border-radius: 10px;
    height: 25px;
    border-style: none;
}


.sidebar {
    background-color: lightskyblue;
    grid-row: 1 / 5;
}

.main-content {
    background-color: lightgrey;
}

